.marker {
  background-image: url('../assets/map-marker.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#map {
  position: relative;
  bottom: 0;
  background: black;
  /* border: solid black 2em; */
  /* border-bottom: solid black 2em; */
  /* padding: 1em; */
  /* height: 37vh; */
  height: 350px;
  margin: 0em auto;
  width: 98vw;
  right: 0;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
